.container {
  width: 200px;
  margin: 100px auto;
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
  line-height: 49px;
  color: white;
  text-align: center;
}

.spacer {
  clear: both;
  height: 100px;
}

.input {
  height: 49px;
  width: 189px;
  background-color: #bbb;
  border-bottom: 1px solid white;
  text-align: right;
  padding: 0 5px;
}

.square {
  background-color: #bbb;
  display: inline-block;
  float: left;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  height: 49px;
  width: 49px;
}

.double-size {
  width: 99px;
}
