.container {
  margin: 30px auto;
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
  line-height: 99px;
  color: white;
  text-align: center;
}

.left-panel {
  margin: 0 auto;
  float: left;
  display: inline-block;
  height: 500px;
  width: 300px;
  position:relative;
  left: 30%;
}

.right-panel {
  display: inline-block;
  float: left;
  margin-left: 10px;
  margin-top: 200px;
  height: 300px;
  width: 200px;
  position:relative;
  left: 30%;
}

.input {
  height: 99px;
  width: 289px;
  background-color: #bbb;
  border-bottom: 1px solid white;
  text-align: right;
  padding: 0 5px;
}

.square {
  background-color: #bbb;
  display: inline-block;
  float: left;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  height: 99px;
  width: 99px;
}
