.container {
  width: 400px;
  margin: 30px auto;
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
  line-height: 99px;
  color: white;
  text-align: center;
}

.input {
  height: 99px;
  width: 389px;
  background-color: #bbb;
  border-bottom: 1px solid white;
  text-align: right;
  padding: 0 5px;
}

.square {
  background-color: #bbb;
  display: inline-block;
  float: left;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  height: 99px;
  width: 99px;
}

.double-size {
  width: 199px;
}
